.frw, .frw-child>*{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.frs, .frs-child>*{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.frc, .frc-child>*{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fre, .fre-child>*{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.fcs, .fcs-child>*{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fcc, .fcc-child>*{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fce, .fce-child>*{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.jc, .jc-child>*{
    justify-content: center;
}
.jb, .jb-child>*{
    justify-content: space-between;
}
.ja, .ja-child>*{
    justify-content: space-around;
}
.js, .js-child>*{
    justify-content: flex-start;
}
.je, .je-child>*{
    justify-content: flex-end;
}
.ass, .ass-child>*{
    align-self: flex-start;
}
.asc, .asc-child>*{
    align-self: center;
}
.ase, .ase-child>*{
    align-self: flex-end;
}
.f1,.f1-child>*{flex:1;}
.f2,.f2-child>*{flex:2;}
.f3,.f3-child>*{flex:3;}
.f4,.f4-child>*{flex:4;}
.f5,.f5-child>*{flex:5;}
.f6,.f6-child>*{flex:6;}
.f7,.f7-child>*{flex:7;}
.f8,.f8-child>*{flex:8;}
.f9,.f9-child>*{flex:9;}
.f10,.f10-child>*{flex:10;}
.f11,.f11-child>*{flex:11;}
.f12,.f12-child>*{flex:12;}
